[submodule ".themes/mullah-mussels"]
	path = .themes/mullah-mussels
	url = git://github.com/octothemes/mullah-mussels.git
[submodule ".themes/constant-cockles"]
	path = .themes/constant-cockles
	url = git://github.com/octothemes/constant-cockles.git
[submodule ".themes/classic-light"]
	path = .themes/classic-light
	url = git://github.com/octothemes/classic-light.git
