{% if site.weibo_uid %}
<section>
  <h1>Latest Weibo</h1>
  <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid={{ site.weibo_uid }}&verifier=a7415e95&dpc=1"></iframe>
  <h1>Publish Weibo</h1>
  <wb:publish action="publish" type="web" language="zh_cn" button_type="red" button_size="middle" button_text="发微博" refer="y" appkey="nvG7w" ></wb:publish>
</section>
{% endif %}
